{% extends "layout.html" %}
{% block content %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" /> -->
<!-- <link rel="icon" type="image/png" href="/static/Icons/shop.png" />-->
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">-->
<!--<script src="{{ url_for('static',filename='functions.js') }}"></script>-->
{% if items %}
<div id="search-bar">
    <ul class="navbar nav ml-auto"
        style="color:white;background-color:#ededed;width:63%;border-radius: 20px 0px 0px 0px;margin-bottom: 7px;">

        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false" style="color:black;">
            חפש לפי
        </a>
        <div id="dropdownSearch" class="dropdown-menu">
            <a id="getSearchCategory" class="dropdown-item" onclick="ChosenCategory('1');">שם פריט</a>
            <a id="getSearchCategory" class="dropdown-item" onclick="ChosenCategory('2');">ברקוד</a>
            <a id="getSearchCategory" class="dropdown-item" onclick="ChosenCategory('9');">ספק</a>
        </div>
        <li>

            <input id="myInput" class="form-control
                form-control-sm mr-3 w-75" type="text" onkeyup="searchByCategoryFunc();" placeholder="חיפוש"
                aria-label="חיפוש">
        </li>

        </li>
        <li class="nav-item active">
            <a id="itmes_alert" href="{{ url_for('expired_items') }}" class="nav-link" type="button"
                style="color:black;background-color:#e2d5d5;border-radius: 20px 20px 20px 20px; ">פגי תוקף <span
                    class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a id="items_alert" href="{{ url_for('outofstock') }}" class="nav-link" type="button"
                style="color:black;background-color:#e2d5d5;border-radius: 20px 20px 20px 20px; ">גמר מלאי <span
                    class="sr-only"></span></a>
        </li>
        <li>
    </ul>

</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table id="chessboard" class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th scope="col">שם פריט</th>
                <th scope="col">מק"ט</th>
                {% if order_type_table_col %}
                <th scope="col">כמות במלאי</th>
                {% else %}
                <th scope="col">כמות פגי תוקף</th>
                {% endif %}
                <th scope="col">מחיר קניה</th>
                <th scope="col">מחיר מכירה</th>
                <th scope="col">תאריך תפוגה</th>
                <th scope="col">קטגוריה</th>
                <th scope="col">יחידת מידה</th>
                <th scope="col">ספק</th>
                {% if session['isAdmin'] == '1' %}
                <th>
                    <a href="{{ url_for('orders') }}" title="חזור" type="button" class="btn-sm btn-primary"
                        style="background-color: #4aaee4;">חזור</a>
                </th>

                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for row in items %}
            <tr>
                <td>{{row[2]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[3]}}</td>
                <td>₪{{row[4]}}</td>
                <td>₪{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
                <td class="col-3">
                    <div class="form-group">
                        <a type="button" id="addBtn" name="{{row[0]}}#{{row[2]}}#{{ordernumber}}#{{row[3]}}#{{row[6]}}"
                            class="btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">הוסף</a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        {% if order_type_table_col %}
                                        <h5 class="modal-title" id="exampleModalLabel">הוספת פריט להזמנה</h5>
                                        {% else %}
                                        <h5 class="modal-title" id="exampleModalLabel">הוספת פריט להחזרה</h5>
                                        {% endif %}
                                        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span id="span-close" aria-hidden="true">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        {% if order_type_table_col %}
                                        <form>
                                            <div class="form-group">
                                                <label class="col-form-label">הכנס כמות:</label>
                                                <input type="number" class="form-control" id="quantity" min="1"
                                                    steps="1">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-body">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">סגור</button>
                                        <a id="addConfirm" type="button" class="btn btn-primary"
                                            data-dismiss="modal">שמור</a>
                                    </div>
                                    {% else %}
                                    <div class="modal-body">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">סגור</button>
                                        <a id="addExpConfirm" type="button" class="btn btn-primary"
                                            data-dismiss="modal">שמור</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% elif items == False %}
    <a href="{{ url_for('orders') }}" title="חזור">חזור</a>
    <script>
        $("#display_alert").attr("class", "alert alert-danger").html("אין פריטים המקושרים לספק זה או שהם לא פעילים!");
    </script>
    {% endif %}

    <script>
        var GlobalId = 0;

        function checkDate(expDate) { // CHECK IF THE DATE WE CHOSE IS VALID, GREATER THAN TODAY AND NOT IN THE PAST
            var selectedText = expDate;
            var selectedDate = new Date(selectedText);
            var now = new Date();
            if (selectedDate < now) {
                return true;
            }
            return false;
        }

        $("a#addBtn").on("click", function (e) { // ON CLICK 'addBtn' WE GET THE ID, NAME AND ORDER NUMBER
            $a = $(e.target);
            $b = $a.attr('name');
            res = $b.split('#');
            $checkQty = res[3];
            $expDate = res[4];
            if (!checkDate($expDate) && $checkQty > 0) {
                $("#display_alert").attr("class", "alert alert-danger").html(
                    "לפריט קיים מלאי פג תוקף, יש להחזירו לספק קודם ולאחר מכן ניתן לבצע הזמנה");
                setTimeout(function () {
                    location.reload(true);
                }, 3000);
                return false;
            }
        });

        $("a#addConfirm").on("click", function (e) { // ADD ITEM TO ORDER BY ORDER NUMBER
            $a = $(e.target);
            $itemID = res[0];
            $itemName = res[1];
            $orderNumber = res[2];
            $quantity = $("#quantity").val();
            $decExpItemQuantity = false;
            numArr = new Array();
            numArr.push($quantity);
            if (validateNumbers(numArr)) {
                alert("הוכנסו תווים לא תקינים");
                return false;
            }
            $.ajax({
                type: "GET",
                url: '/add_item_to_order/<' + $orderNumber + '>',
                data: {
                    'itemid': $itemID,
                    'ordernumber': $orderNumber,
                    'quantity': $quantity,
                    'decExpItemQuantity': $decExpItemQuantity,
                },
                success: function (response) {
                    $("#display_alert").attr("class", "alert alert-success").html(
                        "פריט נוסף בהצלחה");
                    setTimeout(function () {
                        location.reload(true);
                    }, 1100);
                }
            });
        });

        $("a#addExpConfirm").on("click", function (e) { // ADD AN EXPIRED ITEM TO ORDER BY ORDER NUMBER
            $a = $(e.target);
            $itemID = res[0];
            $itemName = res[1];
            $orderNumber = res[2];
            $quantity = res[3];
            $expDate = res[4];
            $decExpItemQuantity = true;
            $.ajax({
                type: "GET",
                url: '/add_item_to_order/<' + $orderNumber + '>',
                data: {
                    'itemid': $itemID,
                    'ordernumber': $orderNumber,
                    'quantity': $quantity,
                    'decExpItemQuantity': $decExpItemQuantity,
                },
                success: function (response) {
                    $("#display_alert").attr("class", "alert alert-success").html(
                        "פריט נוסף בהצלחה");
                    setTimeout(function () {
                        location.reload(true);
                    }, 1100);
                }
            });
        });

        $("a#getSearchCategory").on("click", function (e) {
            $a = $(e.target);
            $("#myInput").attr("placeholder", $a.html());
        });
    </script>

    {% endblock content %}